:root{
    --salmon: #ef9d71;
    --black: #000;
    --white: #fff;
    --cyan: #AEDEE0;
    --dsalmon: rgb(86, 16, 8);
    --dcyan: #164955;
}


*::selection{
    background-color: var(--salmon);
}

body[theme="black"]{
    background-color: var(--black);
}
body[theme="black"] .section{
    color: var(--white);
}
body[theme="cyan"]{
    background-color: var(--cyan);
}
body[theme="cyan"] .section{
    color: var(--dcyan);
}
body[theme="salmon"]{
    background-color: var(--salmon);
}
body[theme="salmon"] .section{
    color: var(--dsalmon);
}
body[theme="salmon"]::selection{
    color: var(--salmon);
}
body[theme="white"]{
    background-color: var(--white);
}
body[theme="white"] .section{
    color: var(--black);
}

body::-webkit-scrollbar{
    display: none;
}
.slides::-webkit-scrollbar{
    display: none;
}

body{
    transition: background-color ease-out 0.7s;
}

.video-contn{
    clip-path: circle(var(--clip) at 50% 50%);
}

.text h3 span{
    opacity:0.5
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    padding: 1vw 4vw;
    width: 100%;
    z-index: 1000;
    color: white;
    background-color: transparent;
}
.nav h1{
    font-size: 2vw;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 35px;
    color: white;
}
.nav-links button{
    color: black;
    background-color: #ede90ef6;
    border-radius: 5px;
    padding: 0.5vw 0.65vw;
}
